<!DOCTYPE html>
<html lang="da" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Fourthingsplus</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../public/css/styles.css" th:href="@{css/styles.css}" rel="stylesheet"/>
</head>

<body>
<div class="page">
    <header>
        <a href="index.html" th:href="@{/}">
            <img alt="logo" src="../public/images/fourthingsplus.png" th:src="@{images/fourthingsplus.png}"
                 width="35%"/>
        </a>
    </header>

    <h1>Welcome, <span th:text="${session.currentUser.username}"></span></h1>

    <form class="generic-form" method="post">
        <input class="input-large" type="text" name="taskname" placeholder="Enter your task to be done"/>
        <button class="btn btn-ok" type="submit" formaction="addtask">Add</button>
    </form>

    <h2>Doing</h2>

    <form class="generic-form" method="post">
        <table class="task-table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${taskList}" th:if="${not task.done}">
                <td th:text="${task.name}"></td>
                <td>
                    <button class="btn btn-ok" type="submit" name="taskId" th:value="${task.taskid}" formaction="done">Done</button>
                    <button class="btn btn-ok" type="submit" name="taskId" th:value="${task.taskid}" formaction="edittask">Edit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <h2>Done</h2>

    <form class="generic-form" method="post">
        <table class="task-table">
            <thead>
            <tr>
                <th>Item</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task: ${taskList}" th:if="${task.done}">
                <td th:text="${task.name}"></td>
                <td>
                    <button class="btn btn-ok" type="submit" name="taskId" th:value="${task.taskid}" formaction="undo">Undo</button>
                    <button class="btn btn-danger" type="submit" name="taskId" th:value="${task.taskid}" formaction="deletetask">Delete
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>

    <div><p class="error" th:unless="${#strings.isEmpty(message)}" th:text="${message}"></p></div>

    <p th:if="${session.currentUser != null}">
        <a href="https://showcode.dk">Home</a> |
        <a href="index.html" th:href="@{/logout}">Logout</a>
    </p>
</div>
</body>
</html>
